.wrapper {
    position: relative;
    margin: auto;
    width: 309px;
    height: 204px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.imagem-responsiva {
    position: absolute;
    left: 0;
    top: 0;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:300px;
    height:200px;
}

#mensagem {
    position: fixed;
    top: -50px; /* Define a posição inicial acima do viewport */
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    width: 200px; /* Ajuste conforme necessário */
    text-align: center;
    transition: top 0.5s ease-in-out; /* Adiciona uma transição suave */
    z-index: 10000;
}
  
#mensagem.sucesso {
    background-color: #4CAF50;
    color: white;
}

#mensagem.aviso {
    background-color: #ff9800;
    color: white;
} 

#dashboard{
    width: 550px;
}

@media (max-width: 650px){
    #dashboard{
        font-size: 70px;
        width: unset;
    }
}

/* Estilos para o indicador de carregamento */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-top: 3px solid #4e73df;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
