{% extends 'base.html' %}

{% block links %}

{% endblock %}

{% block container %}

<div class="row justify-content-center">
    
    <div class="col-md-12 col-lm-12 col-lg-12 col-xl-6">
        <div class="card o-hidden border-0 shadow-sm my-5">
            <div class="card-header">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2 mt-2">Ficha de EPI
                        <button type="button" style="background: none; border: none; padding: 0; font-size: inherit;" data-toggle="tooltip" data-placement="top" title="Selecione os filtros para o relatório de ficha de EPI dos trabalhadores">
                            <i class="fa-solid fa-circle-info" aria-hidden="true" style="color: gray;"></i>
                        </button>  
                    </h1>
                </div>
            </div>
            <div class="card-body" style="height:300px; overflow-y: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-3">
                            <label for="data_filtro">Funcionário:</label>
                            <select class="form-control" id="operadorFicha" name="operadorFicha">
                                <option value="" selected></option>
                                {% for funcionario in funcionarios %}
                                <option value="{{funcionario[0]}}">{{funcionario[0]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3">
                            <label for="data_filtro">Data:
                                <button type="button" style="background: none; border: none; padding: 0; font-size: inherit;" data-toggle="tooltip" data-placement="top" title="Se a data estiver em branco, todas as solicitações do funcionário serão exibidas na ficha">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true" style="color: gray;"></i>
                                </button>  
                            </label>
                            <input type="text" class="form-control" id="dateFicha" name="datetimes" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between">
                    <div class="col-6">
                    </div>
                    <div class="col-6" id="div_button">
                        <button id="btnEnviarSolicitacao" onclick="emitirFicha()" class="form-control btn btn-success">Emitir ficha</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>

<!-- Plugin icons -->
<script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('#dateFicha').on('focus',function(){
            $('#dateFicha').val('')
    })

    $(function () {
      const dataAtual = new Date();
      const opcoesFormatacao = { day: 'numeric', month: '2-digit', year: 'numeric' };
      const dataFormatada = dataAtual.toLocaleDateString('pt-BR', opcoesFormatacao);

      var dataInicial = dataFormatada.split(" - ")[0];
      var dataFinal = dataFormatada.split(" - ")[1];

      $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        autoUpdateInput: false,
        startDate: moment(dataInicial, 'DD/MM/YYYY'),
        endDate: moment(dataFinal, 'DD/MM/YYYY'),
        locale: {
          format: 'DD/MM/YYYY',
          cancelLabel: 'Clear'
        }
      });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
      });

      $('input[name="datetimes"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
      });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        var startDate = picker.startDate;
        var endDate = picker.endDate;

        if (endDate.isBefore(startDate)) {
          alert("A data final não pode ser menor que a data inicial");
          picker.setEndDate(startDate);
        }
      });
    });
</script>

<script>

    function emitirFicha() {

        $("#loading-overlay").show();

        let operadorFicha = $('#operadorFicha').val();

        if(operadorFicha === ''){
            alert('Campo de Operador está vazio')
            $("#loading-overlay").hide();
            return
        }

        let dateFicha = $('#dateFicha').val();

        $.ajax({
            url: '/ficha',
            type: 'POST',  // Alterado para POST
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ 'operadorFicha': operadorFicha ,'dateFicha':dateFicha}),  // Enviando um objeto JSON
            success: function(response) {
                // Baixando Arquivo Excel
                if(response === 'Vazio'){
                    alert('Nenhuma solicitação para essa data')
                } else {
                    saveAs('downloads/Nova_ficha.xlsx', 'Nova_ficha.xlsx');
                }
                
                $("#loading-overlay").hide();
            },
            error: function(error) {
                alert('Ocorreu para emitir o arquivo .xlsx');
                console.log(error);
                $("#loading-overlay").hide();
            }
        });
    }
</script>

{% endblock %}