{% extends 'base.html' %}

{% block links %}
    <!-- CSS datatable -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    
    <!-- CSS do campo de assinatura -->
    <link rel="stylesheet" href="/static/css/assinatura.css">

    <!-- CSS dropdown inputs -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">

{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Pesquisar</h6>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-4">
                <label for="data_filtro">Funcionário:</label>
                <select class="form-control" id="funcionario-historico">
                    <option value="" selected hidden disabled></option>
                    {% for funcionario in funcionarios %}
                    <option value="{{funcionario[0]}}">{{funcionario[0]}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-4">
                <label for="data_filtro">Data:</label>
                <input type="text" class="form-control" id="inputDate1" name="datetimes" autocomplete="off">
              </div>
            </div>
            <button type="submit" id="filtrar_historico" class="btn btn-primary">Filtrar</button>
        </div>
      </div>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Histórico de Solicitações</h1>
    <p class="mb-4">Tabela para visualizar o histórico de solicitações de <code>Equipamentos de Proteção Individual (EPI)</code>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
            <hr>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Assinatura</th>
                            <th>Motivo</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Data</th>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Assinatura</th>
                            <th>Motivo</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="mensagem"></div>

{% endblock %}

{% block scripts %}
<!-- script para datatable -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Plugin icons -->
<script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>

<!-- Plugin assinatura -->
<script src="https://cdn.jsdelivr.net/npm/signature_pad@3.0.0-beta.3/dist/signature_pad.min.js"></script>

<!-- script com a construção das tabelas -->
<script src="static/js/demo/datatables-demo.js"></script>

<!-- Script menssagem -->
<script src="/static/js/mensagem.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>

    function historicoFuncionario(funcionario) {

        funcionario = funcionario.split(" - ");

        matricula = funcionario[0]

        $.ajax({
            url: '/historico',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ 'matricula': matricula }),
            success: function (response) {
                console.log(response)
            },
            error: function () {
                console.log('Item não encontrado');
                // Chama a função de retorno de chamada com um valor padrão ou indicador de erro
            }
        });
    }

    $('#filtrar_historico').one('click',function(){
        funcionario = $('#funcionario-historico').val()
        historicoFuncionario(funcionario)
    })

</script>

<script>

    $(function () {
      const dataAtual = new Date();
      const opcoesFormatacao = { day: 'numeric', month: '2-digit', year: 'numeric' };
      const dataFormatada = dataAtual.toLocaleDateString('pt-BR', opcoesFormatacao);

      var dataInicial = dataFormatada.split(" - ")[0];
      var dataFinal = dataFormatada.split(" - ")[1];

      $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        autoUpdateInput: false,
        startDate: moment(dataInicial, 'DD/MM/YYYY'),
        endDate: moment(dataFinal, 'DD/MM/YYYY'),
        locale: {
          format: 'DD/MM/YYYY',
          cancelLabel: 'Clear'
        }
      });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
      });

      $('input[name="datetimes"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
      });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        var startDate = picker.startDate;
        var endDate = picker.endDate;

        if (endDate.isBefore(startDate)) {
          alert("A data final não pode ser menor que a data inicial");
          picker.setEndDate(startDate);
        }
      });
    });

    document.addEventListener("DOMContentLoaded", function () {
      // Obter o elemento de input
      var inputElement = document.getElementById("inputDate1");

      // Verificar se há um valor salvo no armazenamento local
      var savedValue = localStorage.getItem("inputDate1");

      // Se houver um valor salvo, definir o valor do input
      if (savedValue !== null) {
        inputElement.value = savedValue;
      }

      // Adicionar um ouvinte de evento para salvar o valor quando o usuário digitar
      inputElement.addEventListener("input", function () {
        // Salvar o valor no armazenamento local
        localStorage.setItem("inputDate1", inputElement.value);
      });
    });
  </script>

{% endblock %}