{% extends 'base.html' %}

{% block links %}
    <!-- CSS datatable -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    
    <!-- CSS do campo de assinatura -->
    <link rel="stylesheet" href="/static/css/assinatura.css">

    <!-- CSS dropdown inputs -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">

{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Filtros do Histórico</h6>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-4">
                <label for="data_filtro">Data:</label>
                <input type="text" class="form-control" id="inputDate1" name="datetimes" autocomplete="off">
              </div>
              <div class="col-md-4 mb-4">
                <label for="funcionario-historico">Funcionário:</label>
                <select class="form-control" id="funcionario-historico">
                    <option value="" selected></option>
                    {% for funcionario in funcionarios %}
                    <option value="{{funcionario[0]}}">{{funcionario[0]}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-4 mb-4">
                <label for="solicitante_historico">Solicitante:</label>
                <select class="form-control" id="solicitante_historico">
                    <option value="" selected></option>
                    {% for solicitante in solicitantes %}
                    <option value="{{solicitante[0]}}">{{solicitante[0]}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button type="submit" id="filtrar_historico" class="btn btn-primary">Filtrar</button>
        </div>
      </div>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Histórico de Solicitações</h1>
    <p class="mb-4">Tabela para visualizar o histórico de solicitações de <code>Equipamentos de Proteção Individual (EPI)</code>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Histórico</h6>
        </div>
        <div class="card-body" style="overflow-y: auto;max-height: 500px;">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableHistorico" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Motivo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Data</th>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Motivo</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="mensagem"></div>

{% endblock %}

{% block scripts %}
<!-- script para datatable -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Plugin icons -->
<script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>

<!-- script com a construção das tabelas -->
<script src="static/js/demo/datatables-demo.js"></script>

<!-- Script menssagem -->
<script src="/static/js/mensagem.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>

      function criarLinha(row) {
          return `
          <tr>
            <td style="max-width: 70px;">${row.DataSolicitada}</td>
            <td class="text-truncate" data-toggle="tooltip" data-placement="top" title="${row.Funcionario}" style="max-width: 70px; cursor: default;">${row.Funcionario}</td>
            <td class="text-truncate" data-toggle="tooltip" data-placement="top" title="${row.Solicitante}" style="max-width: 70px; cursor: default;">${row.Solicitante}</td>
            <td>${row.Quantidade}</td>
            <td class="text-truncate" data-toggle="tooltip" data-placement="top" title="${row.Equipamento}" style="max-width: 100px; cursor: default;">${row.Equipamento}</td>
            <td>${row.Motivo}</td>
          </tr>`;
      }

      function atualizarTabela(historicos) {
          // Limpar o conteúdo atual da tabela
          $('#tableHistorico tbody').empty();

          // Preencher a tabela com os dados do response
          for (var i = 0; i < historicos.length; i++) {
            var row = historicos[i];
            var newRow = criarLinha(row);
            $('#tableHistorico tbody').append(newRow);
          }
      }

      function historicoFuncionario(funcionario,data,solicitante_historico) {
          $("#loading-overlay").show();
          
          if (funcionario !== null) {
            funcionario = funcionario.split(" - ");
            matricula = funcionario[0];
            console.log(matricula)
          } else {
            matricula = ''
          } 

          console.log(solicitante_historico)

          if (solicitante_historico !== null){
            solicitante = solicitante_historico.split(" - ");
            matricula_solicitante= solicitante[0];
            
          } else {
            matricula_solicitante = ''
          }
          
          
          $.ajax({
            url: '/historico',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ 'matricula': matricula , 'data': data, 'solicitante_historico':matricula_solicitante}),
            success: function (response) {
                console.log('Response:', response);
                atualizarTabela(response);
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                $("#loading-overlay").hide();
            },
            error: function () {
              console.log('Item não encontrado');
              $("#loading-overlay").hide();
              // Tratar o erro de forma adequada (exibir mensagem para o usuário)
            }
          });
      }

      $('#inputDate1').on('focus',function(){
        $('#inputDate1').val('')
      })

      $('#filtrar_historico').on('click', function () {
          funcionario = $('#funcionario-historico').val();
          data = $('#inputDate1').val();
          solicitante_historico = $('#solicitante_historico').val();
          historicoFuncionario(funcionario,data,solicitante_historico);
      });

</script>

<script>

    $(function () {
      const dataAtual = new Date();
      const opcoesFormatacao = { day: 'numeric', month: '2-digit', year: 'numeric' };
      const dataFormatada = dataAtual.toLocaleDateString('pt-BR', opcoesFormatacao);

      var dataInicial = dataFormatada.split(" - ")[0];
      var dataFinal = dataFormatada.split(" - ")[1];

      $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        autoUpdateInput: false,
        startDate: moment(dataInicial, 'DD/MM/YYYY'),
        endDate: moment(dataFinal, 'DD/MM/YYYY'),
        locale: {
          format: 'DD/MM/YYYY',
          cancelLabel: 'Clear'
        }
      });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
      });

      $('input[name="datetimes"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
      });

      $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
        var startDate = picker.startDate;
        var endDate = picker.endDate;

        if (endDate.isBefore(startDate)) {
          alert("A data final não pode ser menor que a data inicial");
          picker.setEndDate(startDate);
        }
      });
    });

  </script>

{% endblock %}