{% extends 'base.html' %}

{% block links %}
    <!-- CSS datatable -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    
    <!-- CSS do campo de assinatura -->
    <link rel="stylesheet" href="/static/css/assinatura.css">

    <!-- CSS dropdown inputs -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">

{% endblock %}

{% block container %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tabela de Solicitações</h1>
    <p class="mb-4">Tabela principal para visualizar as solicitações de <code>Equipamentos de Proteção Individual (EPI)</code>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
            <hr>
            <div class="row">
                <div class="col-sm-2 mb-2">
                    <label for="data-filter">Data</label>
                    <input class="form-control" id="data-filter" name="data-filter" autocomplete="off">
                </div>
                <div class="col-sm-2 mb-2">
                    <label for="funcionario-filter">Funcionário</label>
                    <input class="form-control" id="funcionario-filter" name="funcionario-filter" autocomplete="off">
                </div>
                <div class="col-sm-2 mb-2">
                    <label for="solicitante-filter">Solicitante</label>
                    <input id="solicitante-filter" class="form-control" autocomplete="off">
                </div>
                <div class="col-sm-2 mb-2">
                    <label for="equipamento-filter">Equipamento</label>
                    <input id="equipamento-filter" class="form-control" autocomplete="off">
                </div>
                <div class="col-sm-2 mb-2">
                    <label for="assinatura-filter">Assinatura</label>
                    <select class="form-control form-control" id="assinatura-filter" style='padding: .375rem .25rem;' name="natureza-filter">
                        <option value="">Todos</option>
                        <option>Solicitação Assinada</option>
                        <option>Assinatura Pendente</option>
                    </select>
                </div>
                <div class="col-sm-2 mb-2">
                    <label for="motivo-filter">Motivo</label>
                    <select class="form-control form-control" id="motivo-filter" style='padding: .375rem .25rem;' name="risco-filter">
                        <option value="">Todos</option>
                        <option>Perda</option>
                        <option>Dano</option>
                        <option>Admissão</option>
                        <option>Substituição</option>
                        <option>Primeira Entrega</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Assinatura</th>
                            <th>Motivo</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Data</th>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Assinatura</th>
                            <th>Motivo</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for row in tb_solicitacoes_list %}
                        <tr>
                            <td style="max-width: 100px;">{{row[8]}}</td>
                            <td class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{row[7]}}" style="max-width: 150px; cursor: default;">{{row[7]}}</td>
                            <td class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{row[2]}}" style="max-width: 150px; cursor: default;">{{row[2]}}</td>
                            <td>{{row[4]}}</td>
                            <td class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{row[3]}}" style="max-width: 200px; cursor: default;">{{row[3]}}</td>
                            {% if row[10] == None %}
                            <td><button onclick="modalAssinatura('{{ row[7] }}','{{ row[0] }}','{{ row[1] }}')" class="btn btn-warning btn-block">Assinatura Pendente</button></td>
                            {% else %}
                            <td><button class="btn btn-success btn-block" title="Agora está habilitado salvar as informações no campo de execução" disabled>Solicitação Assinada</button></td>
                            {% endif %}
                            <td>{{row[5]}}</td>
                            <td style="align-items: center;">
                                <div class="col-sm-4 d-flex justify-content-center align-items-center" style="padding-left: 0.35rem;">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                    <!-- </button> -->
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a id="btn_exec" class="dropdown-item dropdown_os" style="cursor: pointer;" onclick="modalExecucao('{{ row[0] }}','{{ row[7] }}','{{ row[2] }}')"> 
                                            <i class="fa-solid fa-pencil"></i> Editar
                                        </a>
                                        <!-- <a class = "dropdown-item" style="cursor: pointer;" class="btn" onclick="modalAssinatura('{{ row[1] }}')"> 
                                            <i class="fa-solid fa-pencil"></i> Editar
                                        </a> -->
                                        <!-- <a class = "dropdown-item" style="cursor: pointer;" class="btn" onclick="modalTimeline('{{ row[0] }}','{{ row[3] }}','{{ row[7] }}')"> 
                                            <i class="fas fa-clock"></i> Histórico 
                                        </a> -->
                                        <a class = "dropdown-item dropdown_os dropdownsss" style="cursor: pointer;" class="btn" onclick="modalExcluirSolicitacao('{{ row[7] }}','{{ row[0] }}')"> 
                                            <i class="fas fa-trash"></i> Excluir 
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal edição de execução -->
<div class="modal fade" data-backdrop="static" id="modalExecutarSolicitacao" tabindex="-1" role="dialog" aria-labelledby="modalExecutarSolicitacaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="modalExecucaoLabel">Execução da </h5> -->
                <h5 class="modal-title" id="numeroOrdem_edicao">Edição</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto; height: 550px;">
                <h6 class="m-0 font-weight-bold text-primary">Informações gerais</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label>Data da solicitação:</label>
                        <input type="datetime" name="dataSolicitacao" id="dataSolicitacao" value="" class="form-control" disabled>
                    </div>
                    <div class="col-sm-8 mb-2">
                        <label>Solicitante</label>
                        <input type="text" class="form-control" id="solicitante_execucao" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <div class="info_data">
                            <label>Data de Entrega</label>
                        </div>
                        <input type="datetime" class="form-control" id="data_entrega_execucao" autocomplete="off" disabled> 
                    </div>
                    <div class="col-sm-8 mb-2">
                        <label>Funcionário</label>
                        <input type="text" class="form-control" id="funcionario_execucao" disabled>
                    </div>
                </div>
                <div id="containerEquipamentos">
                    
                </div>
            </div> 
            <div class="modal-footer">
                <button id="salvarExecucao" type="submit" class="btn btn-primary btn-block">Alterar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Assinatura -->
<div class="modal fade" data-backdrop="static" id="modalAssinatura" tabindex="-1" role="dialog" aria-labelledby="modalAssinaturaLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="modalExecucaoLabel">Execução da </h5> -->
                <h5 class="modal-title" id="numeroOrdem_edicao">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="m-0 font-weight-bold text-primary">Assinatura</h6>
                <hr>
                <div class="wrapper">
                    <img class="imagem-responsiva" width=300 height=200/>
                    <canvas id="signature-pad" class="signature-pad" width=300 height=200></canvas>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-4">
                        <button class="btn btn-secondary btn-block" id="clear">Clear</button>
                    </div>
                    <div class="col-sm-6 mt-4">
                        <button class="btn btn-primary btn-block"  id="save">Save</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- Modal timeline -->
<div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog" aria-labelledby="modalTimelineLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="m-0 font-weight-bold text-primary">Histórico</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 700px; overflow-y: auto;">
                <div class="list-group" id="listaHistorico">
                    
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal para excluir maquina -->
<div class="modal fade" id="modalExcluirSolicitacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalExcluirEquipamento" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

<div id="mensagem"></div>

{% endblock %}

{% block scripts %}
<!-- script para datatable -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Plugin icons -->
<script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>

<!-- Plugin assinatura -->
<script src="https://cdn.jsdelivr.net/npm/signature_pad@3.0.0-beta.3/dist/signature_pad.min.js"></script>

<!-- script com a construção das tabelas -->
<script src="static/js/demo/datatables-demo.js"></script>

<!-- Script menssagem -->
<script src="static/js/mensagem.js"></script>

<script src="static/js/pagina-principal/envios_post.js"></script>
<script src="static/js/pagina-principal/filtros.js"></script>
<script src="static/js/pagina-principal/formatar_data.js"></script>
<script src="static/js/pagina-principal/lista_input.js"></script>
<script src="static/js/pagina-principal/modal.js"></script>
<script src="static/js/pagina-principal/vida_util.js"></script>

{% endblock %}