{% extends 'base.html' %}

{% block links %}

<link rel="stylesheet" href="/static/css/assinatura.css">

{% endblock %}

{% block container %}

<div class="row justify-content-center">
    <div class="col-md-12 col-lm-12 col-lg-12 col-xl-6">
        <div class="card o-hidden border-0 shadow-sm my-5">
            <div class="card-header">
                <div class="text-center"
                    style="display: flex; justify-content: space-between;">
                    <h1 class="h4 text-gray-900 mb-2 mt-2"
                        style="order: 1;">Solicitação de EPI</h1>
                    <div style="order: 2;">
                        <!-- Conteúdo do botão na ponta direita -->
                        Guardar como padrão<input id="criarPadrao" class="criar-padrao form-control" type="checkbox">
                    </div>
                    <div style="order: 3;">
                        <!-- Conteúdo do botão na ponta direita -->
                        <button class="btn btn-primary" data-toggle="modal"
                            data-target="#opcaoSelecionarPadrao" onclick="popularBodyEscolhaPadrao()">Solicitação
                            padrão</button>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height:575px; overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-5">
                            <!-- solicitante e setor -->
                            <!-- <h6 class="m-0 font-weight-bold text-primary">Solicitante</h6> -->
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label>Solicitante:</label>
                                    <input type="text" class="form-control"
                                        id="inputSolicitante"
                                        name="nameSolicitante"
                                        value="{{solicitante}}"
                                        autocomplete="off" disabled>
                                </div>
                            </div>
                            <hr>
                            <div id="camposSolicitacao">
                                <!-- codigo,quantidade,operador -->
                                <div class="row form-group">
                                    <div class="col-sm-10">
                                        <label for="inputCodigo">Código do
                                            item:</label>
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control"
                                                id="inputCodigo"
                                                name="nameCodigo"
                                                aria-describedby="basic-addon2"
                                                autocomplete="off"
                                                onclick="getId_itens(this)"
                                                required>
                                            <div class="input-group-append">
                                                <button
                                                    class="btn btn-outline-secondary"
                                                    type="button"
                                                    onclick="apagarConteudo(this)">x</button>
                                            </div>
                                        </div>
                                        <ul class="dropdown-list"
                                            id="listCodigo">
                                        </ul>
                                    </div>
                                    <div class="col-sm-2">
                                        <label
                                            for="inputQuantidade">Quantidade:</label>
                                        <input type="number"
                                            class="form-control"
                                            id="inputQuantidade"
                                            name="nameQuantidade"
                                            autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-10">
                                        <label for="inputOperador">Operador
                                            <small>(Para quem?):</small></label>
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control"
                                                id="inputOperador"
                                                name="nameOperador"
                                                autocomplete="off"
                                                aria-describedby="basic-addon2"
                                                onclick="getId_operadores(this)"
                                                required>
                                            <div class="input-group-append">
                                                <button
                                                    class="btn btn-outline-secondary"
                                                    type="button"
                                                    onclick="apagarConteudo(this)">x</button>
                                            </div>
                                        </div>
                                        <ul class="dropdown-list"
                                            id="listOperador">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-10">
                                        <label for="observacaoSolicitacao">Observação:</label>
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control"
                                                id="observacaoSolicitacao"
                                                name="observacaoSolicitacao"
                                                autocomplete="off"
                                                aria-describedby="basic-addon2"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <!-- Radio -->
                                <fieldset>
                                    <label>Motivo:</label>
                                    <div class="row form-group">
                                        <div class="col-sm-3 d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                    type="radio"
                                                    name="radioSolicitacao"
                                                    id="radioPerda"
                                                    value="Perda">
                                                <label class="form-check-label"
                                                    for="radioPerda"
                                                    id="labelRadioPerda">
                                                    Perda
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                    type="radio"
                                                    name="radioSolicitacao"
                                                    id="radioDano" value="Dano">
                                                <label class="form-check-label"
                                                    for="radioDano"
                                                    id="labelRadioDano">
                                                    Dano
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                    type="radio"
                                                    name="radioSolicitacao"
                                                    id="radioEntrega"
                                                    value="Primeira Entrega">
                                                <label class="form-check-label"
                                                    for="radioEntrega"
                                                    id="labelRadioEntrega">
                                                    Primeira Entrega
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Radio -->
                                    <div class="row form-group mb-5">
                                        <div class="col-sm-3 d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                    type="radio"
                                                    name="radioSolicitacao"
                                                    id="radioSubstituicao"
                                                    value="Substituição">
                                                <label class="form-check-label"
                                                    for="radioSubstituicao"
                                                    id="labelRadioSubstituicao">
                                                    Substituição
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 d-flex">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                    type="radio"
                                                    name="radioSolicitacao"
                                                    id="radioOutro"
                                                    value="Admissão">
                                                <label class="form-check-label"
                                                    for="radioOutro"
                                                    id="labelRadioOutro">
                                                    Admissão
                                                </label>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-6 d-flex align-items-center justify-content-end">
                                            <!-- <a class="btn btn-danger btn-circle" onclick="excluirClone(this)">
                                                <i class="fas fa-trash"></i>
                                            </a> -->
                                            <button
                                                class="btn btn-outline-secondary"
                                                type="button"
                                                onclick="excluirClone(this)"><i
                                                    class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                </fieldset>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <button class="form-control btn btn-primary"
                            type="button"
                            onclick="clonarCampos()">Adicionar</button>
                    </div>
                    <div class="col-4">
                        <button id="btnEnviarSolicitacao" type="submit"
                            class="form-control btn btn-success"
                            onclick="enviarSolicitacao()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'modals/modal-opcoes-sol-padrao.html' %}

<div id="mensagem"></div>

{% endblock %}

{% block scripts %}

<script type="text/javascript"
    src="{{ url_for('static', filename='js/mensagem.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='js/formulario-solicitacao/populando-listas.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='js/formulario-solicitacao/clonando-populando.js') }}"></script>
<!-- <script type="text/javascript"
    src="{{ url_for('static', filename='js/formulario-solicitacao/enviar-solicitacao.js') }}"></script> -->
<script type="text/javascript"
    src="{{ url_for('static', filename='js/formulario-solicitacao/excluir-campos.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='js/formulario-solicitacao/apagar-input-solicitacao.js') }}"></script>

<script>
    $(document).ready(function() {
        nome_solicitante = $('#pegando_nome').val()

        console.log(nome_solicitante)

        $('#nome_logado').text(nome_solicitante)
        // Verifica se o valor é '4345 - JOSE EDENILSON DE CASTRO'
        if ($('#inputSolicitante').val() !== '4345 - JOSE EDENILSON DE CASTRO') {
            // Oculta o elemento com ID 'accordionSidebar'
            $('#accordionSidebar').hide();
        } else {
            // Caso contrário, mostra o elemento
            $('#accordionSidebar').show();
        }
    });
</script>

{% endblock %}