{% extends 'base.html' %}

{% block links %}
    <!-- css datatable -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Status</th>
                            <th>Motivo</th>
                            <th>Setor</th>
                            <th>Data</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Funcionário</th>
                            <th>Solicitante</th>
                            <th>Quantidade</th>
                            <th>Equipamento</th>
                            <th>Status</th>
                            <th>Motivo</th>
                            <th>Setor</th>
                            <th>Data</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for row in tb_solicitacoes %}
                        <tr>
                            <td>{{row[7]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[9]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[8]}}</td>
                            <td style="align-items: center;">
                                <div class="col-sm-4 d-flex justify-content-center align-items-center" style="padding-left: 0.35rem;">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                    <!-- </button> -->
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a id="btn_exec" class="dropdown-item dropdown_os" style="cursor: pointer;" onclick="modalExecucao('{{ row[1] }}')"> 
                                            <i class="fas fa-wrench"></i> Execução
                                        </a>
                                        <a class = "dropdown-item" style="cursor: pointer;" class="btn" onclick="modalEditar('{{ row[1] }}')"> 
                                            <i class="fa-solid fa-pencil"></i> Editar
                                        </a>
                                        <a class = "dropdown-item" style="cursor: pointer;" class="btn" onclick="modalTimeline('{{ row[1] }}')"> 
                                            <i class="fas fa-clock"></i> Histórico 
                                        </a>
                                        <a class = "dropdown-item dropdown_os dropdownsss" style="cursor: pointer;" class="btn" onclick="modalExcluirSolicitacao('{{ row[1] }}')"> 
                                            <i class="fas fa-trash"></i> Excluir 
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal edição de execução -->
<div class="modal fade" data-backdrop="static" id="modalExecutarSolicitacao" tabindex="-1" role="dialog" aria-labelledby="modalExecutarSolicitacaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="modalExecucaoLabel">Execução da </h5> -->
                <h5 class="modal-title" id="numeroOrdem_edicao"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto; height: 500px;">
                <h6 class="m-0 font-weight-bold text-primary">Informações gerais</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label>Data Abertura:</label>
                        <input id="dataAbertura_edicao" type="text" name="dataAbertura" value="" class="form-control" disabled>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label>N° execução:</label>
                        <input type="text" id="n_ordem_edicao" name="n_ordem" value="" class="form-control" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label>Motivo:</label>
                        <select class="form-control form-control" style='padding: .375rem .25rem;'>
                            <option value="" selected disabled hidden></option>
                            <option>Entrega</option>
                            <option>Substituição</option>
                            <option>Perda</option>
                            <option>Dano</option>
                            <option>Vencimento</option>
                            <option>Furto</option>
                          </select>
                    </div>
                </div>
                <hr>
                <h6 class="m-0 font-weight-bold text-primary">Máquina</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <div class="dropdown" id="dropdown-MaquinaLocal" style="width: 100%;">
                            <label>Máquina ou local</label>
                            <input type="text" class="dropdown-input form-control" name="maquina_edicao" id="maquina_edicao" autocomplete="off" placeholder=" "> 
                            <ul class="dropdown-list" id="listMaquinaLocalEdicao">
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="statusLista">Status</label>
                        <select class="form-control form-control" style='padding: .375rem .25rem;'>
                            <option value="" selected disabled hidden></option>
                            <option>Aprovado</option>
                            <option>Rejeitado</option>
                            <option>Em andamento</option>
                        </select>
                    </div>
                </div>
            </div> 
            <div class="modal-footer">
                <button id="salvarEdicao" type="submit" class="btn btn-primary btn-block">Salvar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal edição de execução -->
<div class="modal fade" data-backdrop="static" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="modalExecucaoLabel">Execução da </h5> -->
                <h5 class="modal-title" id="numeroOrdem_edicao">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="m-0 font-weight-bold text-primary">Informações gerais</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label>Data Abertura:</label>
                        <input id="dataAbertura_edicao" type="text" name="dataAbertura" value="" class="form-control" disabled>
                    </div>
                    <div class="col-sm-4 mb-2">
                        <label>Quantidade</label>
                        <input type="text" id="n_ordem_edicao" name="n_ordem" value="" class="form-control" disabled>
                    </div>
                    <div class="col-sm-4">
                        <label>Motivo:</label>
                        <select class="form-control form-control" style='padding: .375rem .25rem;' name="risco">
                            <option value="" selected disabled hidden></option>
                            <option>Entrega</option>
                            <option>Substituição</option>
                            <option>Perda</option>
                            <option>Dano</option>
                            <option>Vencimento</option>
                            <option>Furto</option>
                          </select>
                    </div>
                </div>
                <hr>
                <h6 class="m-0 font-weight-bold text-primary">Máquina</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <div class="dropdown" id="dropdown-MaquinaLocal" style="width: 100%;">
                            <label>Máquina ou local</label>
                            <input type="text" class="dropdown-input form-control" name="maquina_edicao" id="maquina_edicao" autocomplete="off" placeholder=" " required disabled> 
                            <ul class="dropdown-list" id="listMaquinaLocalEdicao">
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="tombamento">Tombamento</label>
                        <input id="inputTombamento_edicao" type="text" name="inputTombamento_edicao" class="form-control" disabled>
                    </div>
                </div>
            </div> 
            <div class="modal-footer">
                <button id="salvarEdicao" type="submit" class="btn btn-primary btn-block">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal timeline -->
<div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog" aria-labelledby="modalTimelineLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="m-0 font-weight-bold text-primary">Histórico</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 700px; overflow-y: auto;">
                <div class="list-group" id="listaHistorico">
                    
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal para excluir maquina -->
<div class="modal fade" id="modalExcluirSolicitacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- script para datatable -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>

<!-- script com a construção das tabelas -->
<script src="static/js/demo/datatables-demo.js"></script>

<script>

    function modalExecucao(id_solicitante) {

        $('#modalExecutarSolicitacao .modal-title').text('Executar solicitação ' + id_solicitante );

        $('#modalExecutarSolicitacao').modal('show');
    
    }

    function modalEditar(id_solicitante) {


        $('#modalEditar .modal-title').text('Editar solicitação ' + id_solicitante );

        $('#modalEditar').modal('show');

    }

    function modalTimeline(id_solicitante) {

        $('#modalTimeline').modal('show');

    }

    function modalExcluirSolicitacao(id_solicitante) {

        $('#modalExcluirSolicitacao .modal-body').text('Tem certeza que quer remover essa solicitação de EPI '  + id_solicitante + ' ? ');

        $('#modalExcluirSolicitacao').modal('show');

    }
</script>
    
{% endblock %}
